@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="row mt-4">
                <!-- Blog-->
                <!-- About me-->
                <h2 class="mt-4">Hi, my name's Jason Popejoy</h2>
                <p>I have a passion for web design and development and am an enthusiastic full stack developer. The skill set I possess for writing and maintaining websites includes C#, ASP.NET MVC, PostgreSQL, JavaScript, HTML, CSS, and Bootstrap. Furthermore, I possess exceptional communication skills both written and verbal, and am experienced in interacting with a broad range of personalities. Below are several examples of projects and challenges I've completed that demonstrate my skills.</p>
                <p>For more info, please check my portfolio <a target="_blank" href="https://jaspopejoy.netlify.app">Here</a>.</p>
            </div>
            <div class="row mt-4">
                <h2>The Blog</h2>
                <p>The blog is a place for me to record interesting snippets and findings during my journey to becoming a software developer.</p>
            </div>
            <div class="row mt-4 mb-4">
                <!-- Technologies used-->
                <h2>The Technologies Used</h2>
                <div class="">
                    <div class="row row-cols-sm-1 row-cols-md-2">
                        <div class="col">
                            <div class="d-flex gx-1 justify-content-between">
                                <img class="m-2" height="60px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" />
                                <img class="m-2" height="70px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original-wordmark.svg" />
                                <img class="m-2" height="60px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" />
                                <img class="m-2" height="60px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" />
                                <img class="m-2" height="60px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" />
                                <img class="m-2" height="60px" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>